@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
html, body
{
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
}

.PhotoList-Background
{
    background-color: rgb(111, 143, 173);
    background-image: url("Images/photosBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.CornerLogo
{
    position: absolute;
    height: 200px;
    width: 200px;
    bottom: -25px;
    left: 0px;
    filter: brightness(0) saturate(100%) invert(91%) sepia(58%) saturate(4121%) hue-rotate(172deg) brightness(106%) contrast(97%);
}

.ContactWrapper
{
    position: absolute;
    top: 50px;
    display: inline-flex; /*Inline-flex online as wide and tall as the children*/
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    text-decoration: none;
}

.ContactLine
{
    height: 2px;
    width: 30px;
    background-color: #bee4fb;
}

.ContactText
{
    font-family: "Google Sans", sans-serif;
    font-size: 20px;
    color:#bee4fb;
}

.MenuWrapper
{
    position: absolute;
    top: 50px;
    right: 0px;
    display: inline-flex; /*Inline-flex online as wide and tall as the children*/
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    gap: 10px;
}

.MenuLineWrapper
{
    position: relative;
    display: inline-flex; /*Inline-flex online as wide and tall as the children*/
    flex-direction: column; /* Stacks children vertically */
    justify-content: flex-start; /* Keeps them at the top */
    gap: 2px;
}
.MenuLine
{
    height: 2px;
    width: 30px;
    background-color: #bee4fb;
}

.MenuText
{
   font-family: "Google Sans", sans-serif;
    font-size: 20px;
    color:#bee4fb; 
}