html, body
{
    height: 100%;
    margin: 0;
    padding: 0;
}

.center-fill 
{
    background-color: rgb(111, 143, 173);
    background-image: url("Images/Iceland_16.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}