@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
html, body
{
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
}

.Home-Background
{
    background-color: rgb(111, 143, 173);
    background-image: url("Images/Iceland_Home.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

header
{
    position: absolute;
    height: 20vh;              /* 10% of the viewport height */
    width: 100vw;
    display: flex;             /* Enable Flexbox */
    justify-content: center;   /* Center horizontally */
    align-items: center;       /* Center vertically */
    color: #b0c1df;
    text-align: center;
    opacity: 40%;
}

header h1,
header p
{
    font-family: "Berkshire Swash", serif;
    margin: 0;
}

header h1
{
    font-size: 3rem;
}

header p
{
    font-size: 1rem;
}

.panel-layout
{
    display: flex;
    height: 100vh;
}

.panel
{
    display: flex;
    height: inherit;
    width: 33.33vw;
}

.centered
{
    justify-content: center;
}

.menu-text
{
    font-family: "Google Sans", sans-serif;
    font-size: clamp(1.5rem, 4vw, 3rem);
    font-weight: bold;
    color: white;
    text-decoration: none;
    letter-spacing: .2em;
    opacity: 80%;
}

.horizontal-line
{
    width: 50px;
    height: 5px;
    background-color: white;
    transition: width 0.3s ease;
    opacity: 80%;
}

.projects-bar
{
    display: flex;
    margin-top: auto;
    margin-bottom: 65px;
    margin-right: auto;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.photos-bar
{
    display: flex;
    margin-top: auto;
    margin-bottom: 65px;
    margin-left: auto;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.photos-bar:hover .horizontal-line,
.projects-bar:hover .horizontal-line
{
    width: 80px;
}

.vertical-container
{
    display: flex;
    height: 50px;
    width: 50px;
    justify-content: center;
    padding-top: 15px;
}

.vertical-line
{
    height: 50px;
    width: 5px;
    background-color: white;
    transition: height 0.3s ease;
    opacity: 80%;
}

.about-area
{
    display: inline-flex;
    flex-direction: column;
    margin-top: auto;
    align-items: center;
    width: fit-content;
    height: fit-content;

    pointer-events: none; /*This keeps the hover affect from working in the entire suare of its children*/
}

.about-area > * {
    pointer-events: auto;   /* this lets the hover affect be restored for the rest of the children */
}

.pointer
{
    cursor: pointer;
}

.about-area:hover .sibling-hover
{
    transform: translateY(-15px);
}

.about-area:hover .vertical-line
{
    height: 70px;
}

.sibling-hover
{
    transition: transform 0.3s ease;
}