@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
html, body
{
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
}

.Home-Background
{
    background-color: rgb(111, 143, 173);
    background-image: url("Images/Iceland_Home.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

header
{
    position: absolute;
    height: 20vh;              /* 10% of the viewport height */
    width: 100vw;
    display: flex;             /* Enable Flexbox */
    justify-content: center;   /* Center horizontally */
    align-items: center;       /* Center vertically */
    color: #b0c1df;
    text-align: center;
    opacity: 40%;
}

header h1,
header p
{
    font-family: "Berkshire Swash", serif;
    margin: 0;
}

header h1
{
    font-size: 3rem;
}

header p
{
    font-size: 1rem;
}

.panel-layout
{
    display: flex;
    height: 100vh;
}

.panel
{
    display: flex;
    height: inherit;
    width: 33.33vw;
    position: relative;
    z-index: 1;
}

.panel:hover
{
    z-index: 7;
}

.centered
{
    justify-content: center;
}

.menu-text
{
    font-family: "Google Sans", sans-serif;
    font-size: clamp(1.5rem, 4vw, 3rem);
    font-weight: bold;
    color: white;
    text-decoration: none;
    letter-spacing: .2em;
    opacity: 80%;
}

.horizontal-line
{
    width: 50px;
    height: 5px;
    background-color: white;
    transition: width 0.3s ease;
    opacity: 80%;
}

.projects-bar
{
    display: flex;
    margin-top: auto;
    margin-bottom: 65px;
    margin-right: auto;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    z-index: 7;
}

.photos-bar
{
    display: flex;
    margin-top: auto;
    margin-bottom: 65px;
    margin-left: auto;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    z-index: 7;
}

.photos-bar:hover .horizontal-line,
.projects-bar:hover .horizontal-line
{
    width: 80px;
}

.vertical-container
{
    display: flex;
    height: 50px;
    width: 50px;
    justify-content: center;
    padding-top: 15px;
}

.vertical-line
{
    height: 50px;
    width: 5px;
    background-color: white;
    transition: height 0.3s ease;
    opacity: 80%;
}

.about-area
{
    display: inline-flex;
    flex-direction: column;
    margin-top: auto;
    align-items: center;
    width: fit-content;
    height: fit-content;
    z-index: 7;

    pointer-events: none; /*This keeps the hover affect from working in the entire suare of its children*/
}

.about-area > * {
    pointer-events: auto;   /* this lets the hover affect be restored for the rest of the children */
}

.pointer
{
    cursor: pointer;
}

.about-area:hover .sibling-hover
{
    transform: translateY(-15px);
}

.about-area:hover .vertical-line
{
    height: 70px;
}

.sibling-hover
{
    transition: transform 0.3s ease;
}

.backdrop-overlay {
    position: fixed;
    inset: 0;                  /* top:0 right:0 bottom:0 left:0 */
    background: rgba(0, 0, 0, 0.4);
    transition: transform 0.5s ease;
    pointer-events: none;      /* prevents blocking hover */
    z-index: 5;
}

.image-overlay
{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    width: 33.33vw;
    height: 100vh;
    z-index: 1;
    transition: transform 0.5s ease;
}

.photos-bar-overlay
{
    background-image: url("Images/Iceland_35.png");
    transform: translateX(100%);
    z-index: 6;
}

.projects-bar-overlay
{
    background-image: url("Images/Iceland_31.png");
    transform: translateX(-100%);
    z-index: 6;
}

.about-area-overlay
{
    background-image: url("Images/Iceland_24.jpg");
    transform: translateY(100%);
    z-index: 6;
}

.left-backdrop
{
    transform: translateX(-100%);
}

.right-backdrop
{
    transform: translateX(100%);
}

.center-backdrop
{
    transform: translateY(100%);  /* start fully off screen */
}

.projects-bar:hover ~ .backdrop-overlay,
.photos-bar:hover ~ .backdrop-overlay,
.projects-bar:hover ~ .projects-bar-overlay,
.photos-bar:hover ~ .photos-bar-overlay {
    transform: translateX(0);
}

.about-area:hover ~ .backdrop-overlay,
.about-area:hover ~ .about-area-overlay {
    transform: translateY(0);
}