
html, body
{
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.center-fill 
{
    background-color: rgb(111, 143, 173);
    background-image: url("Images/Iceland_Home.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 47%;
    overflow: hidden;
}

.HomeTitleFont
{
    position: absolute;
    font-family: f, sans-serif;
    font-size: 256px;
    font-weight: bold;
    color: black;
    top: 80%;
}

.Panel
{
    width: 33vw;
    display: flex;
    justify-content: center;
    border-left: 2px solid rgba(20, 32, 32, .5);
}

.PanelPage
{
    position: absolute;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}