
html, body
{
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
}

.Home-Background
{
    background-color: rgb(111, 143, 173);
    background-image: url("Images/Iceland_Home.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.Home-Title-Font
{
    height: 10vh;
    line-height: 10vh;
    width: inherit;
    text-align: center;
    position: absolute;
    vertical-align: middle;
    font-family: f, sans-serif;
    font-size: 54px;
    font-weight: bold;
    color: white;
    background-color: rgba(40,40,40,0.5);
    bottom: -5%;
}

.Panel
{
    width: 33.33vw;
    display: flex;
    justify-content: center;
    border-left: 1px solid rgba(255, 255, 255, .2);
}

.Panel-Page
{
    position: absolute;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}