
html, body
{
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
}

.Home-Background
{
    background-color: rgb(111, 143, 173);
    background-image: url("Images/Iceland_Home.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.Home-Title-Font
{
    height: 10vh;
    line-height: 10vh;
    width: inherit;
    text-align: center;
    position: absolute;
    vertical-align: middle;
    font-family: f, sans-serif;
    font-size: 54px;
    font-weight: bold;
    color: white;
    background-color: rgba(40,40,40,0.5);
    bottom: -5%;
    z-index: 2;
    cursor:pointer;
}

.About-Display
{
    background-image:  url("Images/Iceland_24.jpg");
    background-size: cover;
    width: inherit;
    display: flex;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 500ms ease, opacity 700ms ease;
    pointer-events: none;
}

.Photos-Display
{
    background-image:  url("Images/Iceland_31.png");
    background-size: cover;
    width: inherit;
    display: flex;
    opacity: 0;
    transform: translateX(+100%);
    transition: transform 500ms ease, opacity 700ms ease;
    pointer-events: none;
}

.Home-Title-Font:hover + .About-Display
{
    transform: translateX(0);
    opacity: 1;
}

.Home-Title-Font:hover + .Photos-Display
{
    transform: translateX(0);
    opacity: 1;
}

.Panel
{
    width: 33.33vw;
    display: flex;
    justify-content: center;
    border-left: 1px solid rgba(255, 255, 255, .2);
    opacity: 1;
}

.Panel-Page
{
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}